body {
    margin: 0;
}

h1{
    text-align: center;
}

.little_table.live,
.big_table.live {
    border: 1.1px rgb(196, 15, 15) solid;
}

.little_table td {
    border: 1px rgba(130, 130, 130, 0.708) solid;
    background-color: #F5F5F5;
    cursor: pointer;
}

.big_table {
    margin: 10px auto;
    width: 500px;
    height: 500px;
}

.little_table {  
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}


.little_table td.filled {
    cursor: cursor;    
}

.blue {
    background-color: #010026;
    color: #010021;
}

.red {
    background-color: #800000;
    color: #260000;
}

div.marker {
    margin: auto;
    height: 60%;
    width: 60%;
    border-radius: 100%;
}

#turn {
    width: 200px;
    margin: auto;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#newGame {
    width: 200px;
    margin: auto;
    font-size: 30px;
    font-family: Arial;
    text-shadow: 1px 1px 2px #FFFFFF;
    padding: 5px;
    text-align: center;
    box-shadow: 0 0 5px 5px #0A0A0A;
    background-color: #08A300;
    color: #056900;
    text-shadow: 1px 1px 2px #ffffff;
    border: none;
    display: none;
    cursor: pointer;
    margin-bottom: 20px;
}
